*{
    margin: 0;
    padding: 0;
}


/* header css */

header{
    /* max-width: 1440px; */
    /* max-height: 698px; */
    background-image: url('../Assets/Hero-bg.png');
}


.logo h2{
    font-size: 34px;
    font-weight: bolder;
    color: rgba(78, 71, 255, 1);
}

.logo h2:hover{
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50PX 150px;
}


.button{
    background-color: #4E47FF;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    border-style: none;
}

.button:hover{
    background-color: #ffffff;
    color:  black;
    border: 2px solid black;
}


 .header-container h2{
    font-size: 65px;
    font-weight: bold;
    
} 

.header-btn{
    margin-top: 40px;
}

.header-container{
    margin: 40px 300px;
    text-align: center;
    padding-bottom: 220px;
    
}




/* main css */


.container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 10px;
    background-color: #ffffffdd;

}


.container-1-2 img{
    border-radius: 10px;
}


.container-2{
    max-width: 1140px;
    height: 350px;
    text-align: center;
    margin-bottom: 250px;
    margin: 0 auto;
    background-color: #c8c6f9a9;
    align-items: center;
    border-radius: 10px;
}

.container-2 h3{
    padding: 60px;
}

.container-2-1{
    display: flex;
    justify-content: space-around;
    
}



/* shared css */

.head-color{
    color: 252432;
    font-size: 40px;
    font-weight: 800;
}

.low-color{
    color: #757575;
    font-size: 18px;
    font-weight: 200;
}

.container-padding{
   padding-bottom: 20px;
}


.color-blue-bold{
    color:#4E47FF;
    font-weight: bold;
    font-size: 80px;
}

