*{
    margin: 0;
    padding: 0;
}


/* header css */

header{
    /* max-width: 1440px; */
    /* max-height: 698px; */
    background-image: url('../Assets/Hero-bg.png');
}


.logo h2{
    font-size: 34px;
    font-weight: bolder;
    color: rgba(78, 71, 255, 1);
}

.logo h2:hover{
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50PX 150px;
}


.button{
    background-color: #4E47FF;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    border-style: none;
}

.button:hover{
    background-color:whitesmoke;
    color:  black;
    border: 2px solid black;
}


 .header-container h2{
    font-size: 65px;
    font-weight: bold;
    
} 

.header-btn{
    margin-top: 40px;
}

.header-container{
    margin: 40px 300px;
    text-align: center;
    padding-bottom: 220px;
    
}





/* main css */


.container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 10px;
    background-color: #ffffffdd;

}


.container-1-2 img{
    border-radius: 10px;
}


.container-2{
    max-width: 1140px;
    height: 350px;
    text-align: center;
    margin-bottom: 250px;
    margin: 0 auto;
    background-color: #c8c6f9a9;
    align-items: center;
    border-radius: 10px;
}

.container-2:hover{
    background-color:whitesmoke;
}

.container-2 h3{
    padding: 60px;
}

.container-2-1{
    display: flex;
    justify-content: space-around;
    
}


.container-3{
    max-width: 1140px;
    height: 350px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    
}

.container-3 h3{
    text-align: center;
    padding: 50px;
}


.container-3-1{
    display: flex;
    justify-content: space-between;
}

.container-3-2{

    width: 25%;
    padding: 15px 15px;
    background-color: #F2EDED;
    border-radius: 10px; 

}

.container-3-2:hover{

    background-color: white;
}

.inner-container-3-2{
   
    display: flex;
    gap: 15px;
}



.container-4{

max-width: 1140px;
height: 700px;
margin: 0 auto;
margin-bottom: 150px;
text-align: center;
border-radius: 10px;
background-color:  #F2EDED;
}


.container-4 h2{
    padding-top: 50px;
}

.container-4 h6{
    padding-top: 25px;
}

.container-4 button{
    margin: 0 auto;
    justify-content: center;
    margin-top: 25px;
   
}

.container-4:hover{
    margin-top: 10px;
    background-color: white;
}

.container-4 img{
    margin-top: 20px;
    border-radius: 10px;
}


.container-5{

    max-width: 1140px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.container-5:hover{
    background-color: whitesmoke;
}

.container-5 h1{
    font-size: 100px;
    font-weight: bold;
    color: black;
}


.container-5 input[type="text"], input[type="email"]{
    background-color: white;
    border-radius: 5px;
     height: 30px;
    width: 400px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}


.container-5 textarea{
     background-color: white;
    border-radius: 5px;
     height: 100px;
    width: 400px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}


.container-5 button{
    width: 440px;
}




/* footer */


.footer{
    height: 450px;
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
}

.footer-logo{
    font-size: 100px;
    color: #4E47FF;
    font-weight: bold;
}

.footerlink ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.footerlink li{
    list-style: none;
}
.footerlink li a{
    text-decoration: none;
    color: #8987A1;
}

.footer p{
    color: #8987A1;
}

.footer-in{
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px;
}


.footer:hover{
    background-color: white;
}

.footer li a:hover{
    color: blue
}

/* shared css */

.head-color{
    color: 252432;
    font-size: 40px;
    font-weight: 800;
}

.low-color{
    color: #757575;
    font-size: 18px;
    font-weight: 200;
}

.container-padding{
   padding-bottom: 20px;
}


.color-blue-bold{
    color:#4E47FF;
    font-weight: bold;
    font-size: 80px;
}

.inner-container-head-color{
    color: 252432;
    font-size: 30px;
    font-weight: 800;
}




